<ion-header>
  <ion-navbar>
    <ion-title>Profile</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="login" *ngIf="!auth.authenticated()">

    <div padding>
      <ion-segment [(ngModel)]="authType">
        <ion-segment-button value="login">
          Login
        </ion-segment-button>
        <ion-segment-button value="signup">
          Signup
        </ion-segment-button>
      </ion-segment>
    </div>

    <div [ngSwitch]="authType">
      <form *ngSwitchWhen="'login'" #loginCreds="ngForm" (ngSubmit)="login(loginCreds.value)">
        <ion-item>
          <ion-label>E-mail</ion-label>
          <ion-input type="text" ngControl="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Password</ion-label>
          <ion-input type="password" ngControl="password"></ion-input>
        </ion-item>

        <div padding>
          <button block type="submit">Login</button>
        </div>

      </form>

      <form *ngSwitchWhen="'signup'" #signupCreds="ngForm" (ngSubmit)="signup(signupCreds.value)">

        <ion-item>
          <ion-label>Name</ion-label>
          <ion-input type="text" ngControl="name"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>E-mail</ion-label>
          <ion-input type="text" ngControl="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Password</ion-label>
          <ion-input type="password" ngControl="password"></ion-input>
        </ion-item>

        <div padding>
          <button block type="submit">Signup</button>
        </div>

      </form>
    </div>

    <div padding>
      <p *ngIf="error" class="error">{{ error._body }}</p>
    </div>

</ion-content>

<ion-content *ngIf="auth.authenticated()" class="cards-bg">

  <ion-card class="adv-map">
    <div style="position: relative">
      <img src="https://unsplash.it/500/?random" style="min-height: 40vh">
      <button fab fab-right fab-top class="fab-edit">
        <ion-icon name='color-wand'></ion-icon>
      </button>
    </div>
    <ion-item>
      <ion-icon subtle large item-left name='contact'></ion-icon>
      <h2>{{ profile.name }}</h2>
    </ion-item>

  </ion-card>

  <button block (click)="logout()">Logout</button>

</ion-content>
