.card-background-page {

  ion-card {
    position: relative;
    text-align: center;
  }

  .card-image {
    min-height: 35vh;
  }

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.5);
  }

  .card-subtitle {
    font-size: 1.5em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.5);
  }

}
